<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
   <h1 class="display-4 text-center" id="numbers">##</h1>
   <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
</div>

<% include partials/footer %>
