<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
   <h6 class="display-4 text-center">Nisi consequat exercitation fugiat ad nisi nisi ex voluptate id veniam.</h1>
   <p id="numbers">##</p>
</div>

<% include partials/footer %>
