<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
   <h3 class="display-4">Have you planted a tree today??????????????????????????</h3>
   <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
</div>

<% include partials/footer %>
